body {
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0; 
}

.caja { 
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 120px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #6835AB;
    text-decoration: underline;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-top-left-radius: 30px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 80px;
}

.productos li:hover {
    border-color: #6835AB;
}

.productos li:active { 
    color: aqua;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 50px;
}

.descripcion { 
    font-size: 18px;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(images/Footer.jpg);
}

.copyright {
    color:#BBBBBB;
    font-size: 13px;
    margin: 20px; 
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px; 
}

.input_padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 50%
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    background-color: orange;
    border: none;
    border-radius: 45%;
    transition: 1s all;
    cursor:pointer;

}

.enviar:hover {
    background-color: blueviolet;
    transform: scale(1.2) rotate(20deg);
}

table {
    margin: 40px 40px;    
}

thead {
    background-color: #6835AB;
    color:white;
    font-weight: bold;
}
td, th {
    border: 1px solid #000000;
    padding: 8px 8px;
}

/*CSS para Home*/

.luxury1 {
    width: 100%;    
}


.principal {
    padding: 3cm;
    background-color: darkmagenta;
    width: 940px;
    margin: 0 auto;
}
.principal_title {
    text-align:center;
    font-size: 3cm;
    margin: 0 0 1cm;
    clear: left;
}

.principal p {
    margin: 0 0 1cm; 
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.jhonny {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3cm 0;
    background: linear-gradient(darkmagenta, darkorange)
}

.mapa p {
    margin: 0 0 2cm;
    text-align: center;
}

.mapacontenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales {
    background-color:darkorange
}
.contenidodif {
    width: 640px;
    margin: 0 auto;
}

.items:before {
    content: "☬";
}

.listadif {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:first-child {
    font-weight: bold;
}

.imagendif {
    width: 60%;
    
    
}

.imagendif:hover {
    opacity: 30%;
    transition: 400ms;
    box-shadow: 10px 10px 15px 45px#000000;
    
}

.video {
    width: 560px;
    margin: 1cm auto;
}

/* Falta arreglar el tamaño de la letra para dispositivos móviles */

@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
   .caja, .principal, .mapacontenido, .contenidodif, .video{
       width: auto;
   }
   .listadif, .imagendif {
       width: 100%;
   }
}