body { 
    color:whitesmoke;
    font-family: 'Courier New', Courier,monospace;
    background-color: black;
}
h1 {
    font-size:x-large;
}

h2 {
    font-style: italic;
}

textarea {
    display: block;
    color: greenyellow;
    background-color: black;
    width: 98%; 
    border:dashed 8px gray;
    font-size:x-large;
}

.button1 {
    display: block;
    width: 46%;
    padding: 20px 0;
    background-color:gray;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;

}
.button1:hover {
    width: 99%;
    transition: 2s;
}
.button1:active {
    transition: 0s;
    color: greenyellow;
    
}

.button2 {
    display: block;
    width: 46%;
    padding: 20px 0;
    background-color:gray;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;

}

.button2:hover {
    width: 99%;
    transition: 2s; 
}
.button2:active {
    transition: 0s;
    color: greenyellow;
    
}
a:link {
    color: greenyellow
}
a:visited {
    color: gray
}
