body{
    background: rgb(164, 164, 162);
}

.titulop{
    padding-left: 30px;
}
.luxury1{
    max-width: 100%;
    max-height: 100%;

}

.principal{
    background-color: aquamarine;
    padding: 20px; 
}

h2{
   text-align: center;
}

p{
    text-align: center;
    background: rgb(229, 241, 158);
}
#mision{
   font-size: 30px;
}

em strong{
    color:blueviolet
}

.diferenciales{
    background-color: bisque;
    padding: 30px;
}

h3{
    text-align: center;
}

.items{
    font-style:italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.bike{
    width: 35%;
}